<app-barra-navegacion></app-barra-navegacion>
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-11 col-lg-8 col-md-9 col-11 text-center ">
      <h3>Clientes</h3>
      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Nit</th>
            <th scope="col">Estado</th>
            <th scope="col">Historial Entrega</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button type="button" routerLink="/cliente/historialEntrega" class="btn btn-outline-success">Ver historial Entrega</button>
            </td>
            <td class="d-flex justify-content-evenly">
              <button type="button" class="btn btn-primary"><i class="bi bi-eye"></i></button>
              <button type="button" class="btn btn-secondary"><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-outline-success">Ver historial Entrega</button>
            </td>            
            <td class="d-flex justify-content-evenly">
              <button type="button" class="btn btn-primary"><i class="bi bi-eye"></i></button>
              <button type="button" class="btn btn-secondary"><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>
              <button type="button" class="btn btn-outline-success">Ver historial Entrega</button>
            </td>            
            <td class="d-flex justify-content-evenly">
              <button type="button" class="btn btn-primary"><i class="bi bi-eye"></i></button>
              <button type="button" class="btn btn-secondary"><i class="bi bi-pencil"></i></button>
              <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>