<app-barra-navegacion></app-barra-navegacion>
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <h3>Ingresar Producto</h3>
      <div class="card">
        <h5 class="text-center mb-4">Ingrese los siguientes campos para guardar un nuevo Producto</h5>
        <form action="procesar_formulario.php" method="POST">
          <label for="cli_codigo_producto">Código de Producto:</label>
          <input type="number" id="cli_codigo_producto" name="cli_codigo_producto" required><br><br>

          <label for="cli_codigo_proveedor">Código de Proveedor:</label>
          <input type="number" id="cli_codigo_proveedor" name="cli_codigo_proveedor" required><br><br>

          <label for="descripcion">Descripción:</label>
          <input type="text" id="descripcion" name="descripcion" maxlength="150" required><br><br>

          <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
          <input type="date" id="fecha_vencimiento" name="fecha_vencimiento" required><br><br>

          <label for="existencia">Existencia:</label>
          <input type="number" id="existencia" name="existencia" required><br><br>

          <label for="ubicacion_fisica">Ubicación Física:</label>
          <input type="text" id="ubicacion_fisica" name="ubicacion_fisica" maxlength="50" required><br><br>

          <input type="submit" value="Crear Producto">
        </form>
      </div>
    </div>
  </div>
</div>