<app-barra-navegacion></app-barra-navegacion>
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-11 col-lg-8 col-md-9 col-11 text-center ">
      <h3>Historial entrega de cliente: xxxxx</h3>
      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo Cliente</th>
            <th scope="col">Codigo Entrega</th>
            <th scope="col">Fecha Entrega</th>
            <th scope="col">Estado Entrega</th>
            <th scope="col">Detalles Entrega</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>            
        </tbody>
      </table>
    </div>
  </div>
</div>