<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">MIS VENTAS S.A.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cliente
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/cliente/consultarClientes">Consultar Cliente</a>
          <a class="dropdown-item" routerLink="/cliente/anadirCliente">Crear Cliente</a>
          <a class="dropdown-item" routerLink="/cliente/editarCliente">Editar Cliente </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Venta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/venta/consultarVentas">Consultar Venta</a>
          <a class="dropdown-item" routerLink="/venta/crearVenta">Crear Venta</a>
          <a class="dropdown-item" routerLink="/venta/editarVenta">Editar Venta </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Entrega
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/cliente/consultarClientes">Consultar Entrega</a>
          <a class="dropdown-item" routerLink="/entrega/crearEntrega">Crear Entrega</a>
          <a class="dropdown-item" routerLink="/entrega/editarEntrega">Editar Entrega </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Producto
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/cliente/consultarClientes">Consultar Producto</a>
          <a class="dropdown-item" routerLink="/producto/crearProducto">Crear Producto</a>
          <a class="dropdown-item" routerLink="/producto/editarProducto">Editar Producto </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Nota Credito
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/cliente/consultarClientes">Consultar Nota Credito</a>
          <a class="dropdown-item" routerLink="/notaCredito/CrearNotaCredito">Crear Nota Credito</a>
        </div>
      </li>
    </ul>
  </div>
</nav>