
<!-- INICIO OFF CANVAS -->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">

  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
        <li>
          <div class="small fw-bold text-uppercase px-3">
            CORE
          </div>
        </li>
        <li>
          <a href="#" class="nav-link px-3 active">
            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="my-4">
          <hr class="dropdown-divider bg-light" />
        </li>
        <li>
          <div class="small fw-bold text-uppercase px-3 mb-3">
            Opciones
          </div>
        </li>
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
            <span class="me-2"><i class="bi bi-person-fill"></i></span>
            <span>Cliente</span>
            <span class="ms-auto">
              <span class="right-icon">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
          </a>
          <div class="collapse" id="layouts">
            <ul class="navbar-nav ps-3">
              <li>
                <a routerLink="/cliente/consultarClientes" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-person-bounding-box"></i></span>
                  <span>Consultar Cliente</span>
                </a>
              </li>                            
              <li>
                <a routerLink="/cliente/anadirCliente" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-person-fill-add"></i></span>
                  <span>Crear Cliente</span>
                </a>
              </li>
              <li>
                <a routerLink="/cliente/editarCliente" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-person-fill-gear"></i></span>
                  <span>Editar Cliente</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts1">
            <span class="me-2"><i class="bi bi-bag-check"></i></span>
            <span>Venta</span>
            <span class="ms-auto">
              <span class="right-icon">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
          </a>
          <div class="collapse" id="layouts1">
            <ul class="navbar-nav ps-3">
              <li>
                <a routerLink="/venta" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-search"></i></span>
                  <span>Consultar Venta</span>
                </a>
              </li>                            
              <li>
                <a routerLink="/venta/crearVenta" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                  <span>Crear Venta</span>
                </a>
              </li>
              <li>
                <a routerLink="/venta/editarVenta" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-pencil-square"></i></span>
                  <span>Editar Venta</span>
                </a>
              </li>
            </ul>
          </div>
        </li>        
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts2">
            <span class="me-2"><i class="bi bi-truck"></i></span>
            <span>Entrega</span>
            <span class="ms-auto">
              <span class="right-icon">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
          </a>
          <div class="collapse" id="layouts2">
            <ul class="navbar-nav ps-3">
              <li>
                <a routerLink="/entrega" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-search"></i></span>
                  <span>Consultar Entrega</span>
                </a>
              </li>                            
              <li>
                <a routerLink="/entrega/crearEntrega" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                  <span>Crear Entrega</span>
                </a>
              </li>
              <li>
                <a routerLink="/entrega/editarEntrega" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-pencil-square"></i></span>
                  <span>Editar Entrega</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts3">
            <span class="me-2"><i class="bi bi-box-fill"></i></span>
            <span>Producto</span>
            <span class="ms-auto">
              <span class="right-icon">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
          </a>
          <div class="collapse" id="layouts3">
            <ul class="navbar-nav ps-3">
              <li>
                <a routerLink="/entrega" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-search"></i></span>
                  <span>Consultar Producto</span>
                </a>
              </li>                            
              <li>
                <a routerLink="/producto/crearProducto" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                  <span>Crear Producto</span>
                </a>
              </li>
              <li>
                <a routerLink="/producto/editarProducto" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-pencil-square"></i></span>
                  <span>Editar Producto</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts4">
            <span class="me-2"><i class="bi bi-dash-circle"></i></span>
            <span>Nota Credito</span>
            <span class="ms-auto">
              <span class="right-icon">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
          </a>
          <div class="collapse" id="layouts4">
            <ul class="navbar-nav ps-3">
              <li>
                <a routerLink="/entrega" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-search"></i></span>
                  <span>Consultar Nota Credito</span>
                </a>
              </li>                            
              <li>
                <a routerLink="/notaCredito/CrearNotaCredito" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                  <span>Crear Nota Credito</span>
                </a>
              </li>
            </ul>
          </div>
        </li>        
        <li class="my-4">
          <hr class="dropdown-divider bg-light" />
        </li>
        <li>
          <div class="small fw-bold text-uppercase px-3 mb-3">
            Addons
          </div>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-graph-up"></i></span>
            <span>Charts</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-table"></i></span>
            <span>Tables</span>
          </a>
        </li>
      </ul>

    </nav>
  </div>
</div>
<!-- dashboard-->